@import '../../sass/assets/colors/colors.scss';

.hero {
  max-height: 100vh;
  background-image: url("../../sass/assets/images/jpg/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &_fadeBottom {
    height: 10rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      $backgroundColor-lightGray,
      $backgroundColor-lightGray
    );
    margin-top: 30em;
  }
}
