@import '../../sass/assets/fonts/fonts.scss';
@import '../../sass/assets/colors/colors.scss';

.home {
  
  &_container {
    padding-top: 100px;
    background-color: $backgroundColor-lightGray;

    &_news {
      margin-top: 2em;
      justify-content: space-around;
      

      &_title {
        text-align: center;
        margin-bottom: 50px;
        font-family: $font-heading;
        font-size: 1.3em;
        display: flex;
        justify-content: center;

        h1 {
          border-bottom: 3px solid red;
        }
      }

      &_row {
        display: flex;
        margin: 20px;
        justify-content: space-around;
      }
    }

    &_nextMatch {
      height: 60vh;
      background-image: url("../../sass/assets/images/jpg/oldTrafford.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 5em;
      margin-bottom: 5em;
      filter: brightness(60%);

      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        &_premier {
          margin-top: 5em;
          width: 20em;
           img{
             height: 100%;
             width: 100%;
           }
        }
      }
    }

    &_shop{
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      &_title{
        text-align: center;
        font-weight: 600;
        font-size: 1.3em;
        font-family: $font-heading;
        margin-bottom: 2em;

        display: flex;
        justify-content: center;

        h1 {
          border-bottom: 3px solid red;

        }
      }

      &_row {
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
      }

    }
  }
}
