@import "../assets/fonts/fonts.scss";

.footer {
  background-color: #2a2a2a;
  height: 10em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &_socialLinks {
    &_links {
      display: flex;

      &_icon {
        margin-right: 30px;
        color: #fff;
        background-color: gray;
        padding: 15px;
        border-radius: 50%;

        &:hover {
          background-color: red;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
